@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

/* Change the color and width of the scrollbar */
body::-webkit-scrollbar {
  width: 1px; /* Adjust the width as needed */
}

body::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* Background color of the scrollbar track */
}

body::-webkit-scrollbar-thumb {
  background-color: #888; /* Color of the scrollbar thumb */
}


header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  position: sticky;
  top: 0px;
  z-index: 1000;
}

.logo img {
  width: 120px;
  height: auto;
}

.search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 450px;
  height: 40px;
  border-radius: 15px;
  border: 1px solid black;

}

.search input {
  all: unset;
  margin: 0 0 0 1rem;
  font-size: 1rem;
  color: #000;

}

.search button {
  all: unset;
  padding-right: 0.6rem;
  border: none;
  color: #fff;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.search button img {
  width: 30px;
  cursor: pointer;
  display: flex;
  float: right;


}

/* .search button:hover {
  background-color: #0056b3;
} */

.navlist {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.navlist li {
  margin-left: 10px;
}

.navlist img {
  width: 25px;
  margin-right: 0.5rem;
}

.profile_pic img {
  width: 30px;
  border-radius: 50px;
  border: 3px rgba(174.25, 70.43, 132.72, 0.58) solid;
}