.online_friend_section {
    /* position: relative; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 0.5rem;
    height: 340px;
    overflow: auto;

}


.online_friend_section h3 {
    margin-top: 2px;
    text-align: center;
    font-weight: 400;
    display: flex;
    justify-content: center;
}

.online_friend_profile {
    /* position: relative; */
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    border-radius: 0.5rem;
    margin: 0 0.5rem 0.5rem 0.5rem;


}

.online_profile_name_message {
    display: flex;
    justify-content: center;


    /* margin: 0 1rem 0 1rem; */
}

.online_profile_pic {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px 0 5px 0.5rem;
    border: 2px solid red;
    border-radius: 100%;
}

.online_profile_pic img {
    width: 50px;
    height: 50px;
}

.online_name_message {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 3px 0 0 10px;
}

.online_friend_name {
    display: flex;
    align-items: center;
    color: black;
    font-size: 15px;
    font-family: Poppins;
    font-weight: 400;
}

.online_friend_message {
    display: flex;
    justify-content: center;
    color: black;
    font-size: 10px;
    font-family: Poppins;
    font-weight: 400;
    margin-top: 5px;
}

.message_icon {
    display: flex;
    justify-content: center;
}

.message_icon img {
    width: 35px;
    height: 35px;
    margin-right: 10px;
}

/* collage activities css****************************************** */

.college_activities {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    height: 285px;
    border: 1px solid black;
    margin-top: 1.5rem;
    border-radius: 0.5rem;
}

.college_activities h3 {
    margin-top: 2px;
    text-align: center;
    font-weight: 400;
    display: flex;
    justify-content: center;
}

.college_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.college_name_date {
    position: relative;
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 0.8rem;
    border-radius: 0.5rem;
    margin: 0 0.5rem 0.5rem 0.5rem;
}